{% extends 'layout.html.twig' %}

{% block content %}
    {% if trainings %}
        <h1>Terminy treningów</h1>
        {% for training in trainings %}
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {% if training.day == 1 %}
                            poniedziałek
                        {% elseif training.day == 2 %}
                            wtorek
                        {% elseif training.day == 3 %}
                            środa
                        {% elseif training.day == 4 %}
                            czwartek
                        {% elseif training.day == 5 %}
                            piątek
                        {% elseif training.day == 6 %}
                            sobota!    
                        {% else %}
                            niedziela
                        {% endif %}                    
                    </h4>
                    <p class="list-group-item-text">{{ training.startHour|date('H:i') }} - {{ training.endHour|date('H:i') }}</p>
                    <p class="list-group-item-text">{{ training.location }}</p>
                </a>
            </div>        
        {% endfor %}
    {% else %}
        <h4>Brak zaplanowanych treningów</h4>
    {% endif %}
{% endblock %}
