{% for year in years %}
    <li class="dropdown-submenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ year }}
        </a>
        <ul class="dropdown-menu">
            <li>zawodnicy</li>
            <li>treningi</li>
        </ul>
    </li> 
{% endfor %}
