{% for team in teams %}
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Rocznik {{ team.year }}
        </a>
        <ul class="submenu">
            <li><a href="{{ path('team_show', { 'id': team.id }) }}">Kadra</a></li> 
            <li><a href="{{ path('show_team_trainings', { 'year': team.id }) }}">Treningi</a></li>                       
        </ul>
    </li> 
{% endfor %}
