<div class="sidebar-nav">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav vertical-nav">
        <li class="active">
            <a href="{{ path('admin_dashboard') }}">Kokpit</a>
        </li>
        <li>
            <a href="#" 
               data-toggle="collapse" 
               data-target="#collapseExample" 
               aria-expanded="false" 
               aria-controls="collapseExample">
                <i class="fa fa-user-o" aria-hidden="true"></i> Zawodnicy
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="list-unstyled">
                    <li><a href="{{ path('player_index') }}">Lista</a></li>
                    <li><a href="{{ path('player_new') }}">Dodaj</a></li>
                </ul>
            </div>            
        </li>
        <li><a href="#">Grupy</a></li>
        <li><a href="#">Rekrutacja</a></li>
        <li><a href="#">Trenerzy</a></li>
        <li><a href="#">Wpłaty</a></li>
        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Wiadomości</a></li>
        <li><a href="#"><i class="fa fa-opencart" aria-hidden="true"></i> Zamówienia</a></li>
        <li><a href="#">Wydarzenia</a></li>
        <li><a href="#">Mecze</a></li>
        <li><a href="#">Zawody</a></li>
      </ul>
    </div>
  </div>
</div>
