<div class="row">
    <div class="col-xs-12 col-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="collapse navbar-collapse">                    
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Offensywa {{ "now"|date("Y") }}</a>
                        </li> 
                        <li>
                            <a>Autor: TM</a>
                        </li>
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a onclick="topFunction()" id="toTop" title="Go to top">
                                Do góry <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </a>                            
                        </li>
                    </ul>                         
                </div>
            </div>
        </nav>        
    </div>
</div>