{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">zawodników / w tym płacących + ikona (ludzik)</div>
                <div class="panel-body">
                    Więcej, link do zawodników
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">[liczba] grup</div>
                <div class="panel-body">
                    Więcej, link do grup
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Składek w tym miesiącu</div>
                <div class="panel-body">
                    Lnk do składek
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Zaległych składek w tym miesiącu</div>
                <div class="panel-body">
                    składki? zaległe?
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    Wpłaty (wykres)                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    plan zajęć (wykres)
                </div>
            </div>            
        </div>
        <div class="col-sm-12 col-md-6">
            Zadania trenerskie<br>
            data, grupa, obecność trenera (checkbox), lista obecności(checkbox), konspekt (checkbox)
        </div>
    </div>    
{% endblock %}

