{#{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Zawodnicy</title>
    <meta name="description" content="Lista zawodników klubu Offensywa Książenice">
{% endblock %}

{% block content %}
    <h2>Zawodnicy</h2>
    {% if players %}
    <table class="table table-bordered table-striped simple-league-table">
        <thead>
            <tr>
                <th>Nazwisko</th>
                <th>Zdjęcie</th>
                <th>Data urodzenia</th>
                <th>Pozycja</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.firstName }} {{ player.lastName }}</td>
                <td>
                    {% if player.image %}
                        <img src="{% path player.image, 'small' %}">
                    {% endif %}                    
                </td>
                <td>
                    {% if player.birthDate %}
                        {{ player.birthDate|date('Y-m-d') }}
                    {% endif %}
                </td>
                <td>{{ player.position }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>Brak graczy</h2>
    {% endif %}
{% endblock %}
#}