{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h2>Dodaj gracza</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
