{% extends 'base.html.twig' %}

{% block head %}
    <title>Offensywa &bull; Rejestracja</title>
    <meta name="description" content="Zarejestruj się na stronie klubu Offensywa Książenice">
{% endblock %}

{% block body %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock %}
