html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Open Sans',sans-serif;
    line-height: 23px;
    font-size: 14px;
    margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.list-group-item {
    border: 0;
}

code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.list-group-item,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}

.admin-main {
    background-color: #f2f2f2;
}

.navbar {
    margin-bottom: 0px;
    border: 0;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-form {
    padding: 0px;
}

.col-fluid {
    padding: 0px;
}

#upper-navbar > ul {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.social-list {
    border-left: 1px solid rgba(255,255,255,0.1);    
}

.btn:hover {
    color: #ffffff;
    background-color: red;
    border-color: red;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;    
}

.navbar-toggle:hover {
    color: #ffffff !important;
    background-color: red !important;
    border-color: red !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;    
}

.navbar-nav > li > a {
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff !important;
    background-color: red !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;    
}

.navbar-default .navbar-nav > .active > a {
    color: #ffffff !important;
    background-color: red !important;    
}

.pagination > .active > a {
    background-color: red !important;
    border-color: red !important;
}

.dropdown-menu {
    padding: 0px;
    border: 0px;
}

.dropdown-menu > li > a:hover {
    color: #ffffff !important;
    background-color: red !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;    
}

.open > a {
    color: #ffffff !important;
    background-color: red !important;
}

.form-control:focus {
    border-color: #ff0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba(255, 0, 0, 0.6);    
}

@media only screen and (min-width : 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Prevent upper navbar collapse */

#upper-navbar {
    display: block !important;
}

#upper-navbar > ul {
    float: right !important;
}

#upper-navbar > ul > li {
    float: left !important;
}

@media only screen and (max-width : 992px) {
    .social-list {
        margin-right: 20px;
    }
}

.logo-with-name {
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
}

.fixture-date {
    color: red;
    font-weight: bold;
    text-align: center;
}

.fixture-text {
    vertical-align: middle;
    display: inline-block;
    line-height: 35px;
}

.match-details {
    background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/tribunes1.jpg);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

.match-details > h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    background: red;
    color: #fff;    
}

.match-details > div {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 15px 0;
    color: #fff;    
}

.match-details > p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

.borderless td, .borderless th {
    border: none !important;
}

.upcoming-fixtures {
    border-top: 2px solid red;
}

.simple-league-table {
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px solid red;
}

.simple-league-table thead {
    background-color: #000;
    color: #fff;
}

.simple-league-table th, .simple-league-table td {
    padding: 6px !important;
}

.vertical-nav > li {
    float: none;
}

.vertical-nav > .active > a {
    background-color: #222 !important;
}

/* NEWS CAROUSEL */

#newsCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    text-shadow: none;
}

#newsCarousel .list-group {
    position: absolute;
    top: 0;
    right: 0;
}
#newsCarousel .list-group-item {
    border-radius: 0px;
    cursor: pointer;
}
#newsCarousel .list-group .active {
    color: red;
    background-color: #eee;	
}

.carousel-caption a {
    color: #ffffff;
}

.carousel-caption a:hover {
    color: red;
}

@media (min-width: 992px) { 
    #newsCarousel { padding-right: 33.3333%; }
    #newsCarousel .carousel-controls { display: none; } 	
}
@media (max-width: 991px) { 
    .carousel-caption p,
    #newsCarousel .list-group { display: none; } 
}

/* TIMEPICKER */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd, 
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

/* CHART */
#chart {
  /* width: 650px; */
  height: 300px;
  margin: 30px auto 0;
  display: block;
  margin-bottom: 3em;
}

#chart #numbers {
  height: 100%;
  width: 10%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

#chart #numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 29px;
    border-bottom: 1px solid #444;
    position: relative;
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);  
}

#chart #numbers li:last-child { height: 30px; }

#chart #numbers li span {
    position: absolute;
    bottom: 0;
    right: 10px;
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);   
}

#chart #bars {
  display: inline-block;
  width: 90%;
  height: 300px;
  padding: 0;
  margin: 0;
}

#chart #bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}

#chart #bars li .bar {
  display: block;
  width: 70px;
  margin-left: 15px;
  background: #49E;
  position: absolute;
  bottom: 0;
}

#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}

#chart #bars li .bar:hover:before {
  color: white;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}

#chart #bars li span {
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}

.bar > span {
    top: -25px;
    font-weight: bold
}

.admin-box {
    background-color: #fff;
    border-top: 2px solid red;
    margin-top: 10px;
    padding: 10px;
}

.admin-list > li > a {
    padding-left: 39px;
    color: #9d9d9d;
}

.admin-list-icon {
    padding-right: 5px;
}

.admin-form {
    margin-bottom: 15px;
}

.admin-form-btn-margin {
    margin-right: 10px;
}

#DataTables_Table_0_filter > label {
    font-weight: normal;
}

#DataTables_Table_0_length > label {
    font-weight: normal;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.top-panel {
    color: #fff;
    margin-top: 10px;
    padding: 0px;    
}

.top-panel > .panel-heading {
    background-color: transparent !important;
    color: #fff;
    border-bottom: 0;
}

.top-panel-text {
    font-size: 48px;
}

.top-panel > .panel-body > p {
    margin: 0;
}

.top-panel-one {
    background-color: #00719D; 
}

.top-panel-one > .panel-heading i {
    color: #005E8B;
    font-size: 120px;
    margin: 0;
}

.top-panel-one > .panel-body {
    background-color: #005E8B;
}

.top-panel-two {
    background-color: #03602B; 
}

.top-panel-two > .panel-body {
    background-color: #005430;
}

.top-panel-two > .panel-heading i {
    color: #005430;
    font-size: 120px;
    margin: 0;
}

.top-panel-three {
    background-color: #9C5005; 
}

.top-panel-three > .panel-body {
    background-color: #874D04;
}

.top-panel-three > .panel-heading i {
    color: #874D04;
    font-size: 120px;
    margin: 0;
}

.top-panel-four {
    background-color: #832B21; 
}

.top-panel-four > .panel-body {
    background-color: #3F0C08;
}

.top-panel-four > .panel-heading i {
    color: #3F0C08;
    font-size: 120px;
    margin: 0;
}

/* CAROUSEL */

.darkerskyblue {
    background-color: #00a6dd;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 350px; 
    height: 100%;
    width:100%;   
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    background-color: red;
}
.carousel-caption h3 {
    padding: .5em;
}
/*.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}*/
/*.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em; 
}*/
.carousel-caption h3:first-child {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.carousel-caption button {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.main-item:nth-child(1) {
    background: url(https://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-item:nth-child(2) {
    background: url(https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-item:nth-child(3) {
    background: url(https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* GRITTER */

/* the norm */
#gritter-notice-wrapper {
    position:fixed;
    top:65px;
    right:15px;
    width:301px;
    z-index:9999;
    -webkit-animation: fadein 2s;  
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s; 
            animation: fadein 2s;    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}
#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
}
.gritter-top {
    height:10px;
}
.hover .gritter-top {
    background-position:right -30px;
}
.gritter-bottom {
    height:8px;
    margin:0;
}
.hover .gritter-bottom {
    background-position: bottom right;
}
.gritter-item {
    display:block;
    color:#eee;
    padding:2px 11px 8px 11px;
    font-size: 14px;
}
.hover .gritter-item {
    background-position:right -40px;
}
.gritter-item p {
    padding:0;
    margin:0;
    word-wrap:break-word;
}
.gritter-close {
    top:5px;
    left:3px;
    cursor:pointer;
    width:30px;
    height:30px;
}
.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}
.gritter-image {
    width:48px;
    height:48px;
    float:left;
}
.gritter-with-image,
.gritter-without-image {
    padding:0;
}
.gritter-with-image {
    width:220px;
    float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(../images/gritter-light.png);
    color: #222;
}
.gritter-light .gritter-title {
    text-shadow: none;
}

.supmenu:hover {
    cursor: auto !important;
}

.submenu {
    list-style: none;
}

.submenu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}

.submenu > li > a:hover {
    color: #ffffff !important;
    background-color: red !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/* YOU TUBE */

.youtube-embed-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube-embed-wrapper object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}