{% extends 'base.html.twig' %}

{% block head %}
    <title>Offensywa &bull; Login</title>
    <meta name="description" content="Zaloguj się na stronie klubu Offensywa Książenice">
{% endblock %}

{% block body %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}
