{% extends 'fos-user.layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Login</title>
    <meta name="description" content="Zaloguj się na stronie klubu Offensywa Książenice">
{% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}
