{% extends 'fos-user.layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Zresetuj hasło</title>
    <meta name="description" content="Zresetuj hasło do portalu Offensywa">
{% endblock %}

{% block fos_user_content %}
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">    
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
    </div>
{% endblock %}
