{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Kontakt</title>
    <meta name="description" content="Kontakt do trenerów klubu Offensywa Książenice">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Kontakt do trenerów klubu Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />     
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Kontakt</h1>
            <p>Jeśli chcecie Państwo dowiedzieć się czegoś, prosimy pisać na adres mailowy:</p>
            <p><a href="mailto:uks.offensywa@gmail.com">uks.offensywa@gmail.com</a></p>
            <p>lub dzwonić pod nr:</p>
            <p><a href="tel:48511396354">48 511 396 354</a> - trener Maurycy Deske ( Rocznik 2002-2003, 2007-2008 )</p>
            <p><a href="tel:48510599364">48 510 599 364</a> - trener Marcin Wojciechowski ( Rocznik 2005-2006 )</p>          
        </div>
    </div>
{% endblock %}
