{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <p>Jeśli chcecie Państwo dowiedzieć się czegoś, to proszę pisać na adres mailowy:</p>
            <p>uks.offensywa@gmail.com</p>
            <p>lub dzwonić pod nr:</p>
            <p>48 511 396 354 - trener Maurycy Deske ( Rocznik 2002-2003, 2007-2008 )</p>
            <p>48 510 599 364 - trener Marcin Wojciechowski ( Rocznik 2005-2006 )</p>          
        </div>
    </div>
{% endblock %}
