{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Kontakt</title>
    <meta name="description" content="Kontakt do trenerów klubu Offensywa Książenice">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Kontakt do trenerów klubu Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />     
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ content.title }}</h1>
            {{ content.body | purify }}          
        </div>
    </div>
{% endblock %}
