{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Galerie zdjęć</title>
    <meta name="description" content="Klub piłkarski Offensywa Książenice - galerie zdjęć">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">            
            {% if category.posts is not empty %}
                <h1>Galerie zdjęć</h1>
                {% for post in category.posts %}
                    <h2><a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ post.title }}</a></h2>
                    <small>{% if post.publishDate %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{ post.publishDate|date('Y-m-d H:i') }}{% endif %}
                    </small>               
{#                    {% if post.image %}
                        <img src="{% path post.image, 'small' %}">
                    {% endif %} 
                    {{ post.body | purify }}#}
                {% endfor %}
            {% else %}
                <h2>Brak galerii</h2>
            {% endif %}            
        </div>
    </div>
{% endblock %}
