{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">            
            {% if category.posts is not empty %}
                <h1>Galerie</h1>
                {% for article in category.posts %}
                    <h2>{{ article.title }}</h2>
                    <small>{% if article.publishDate %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{ article.publishDate|date('Y-m-d H:i') }}{% endif %}
                    </small>               
                    {% if article.image %}
                        <img src="{% path article.image, 'small' %}">
                    {% endif %} 
                    {{ article.body | purify }}
                {% endfor %}
            {% else %}
                <h2>Brak galerii</h2>
            {% endif %}            
        </div>
    </div>
{% endblock %}
