{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
        {% if category %}
            {% for article in category.posts %}
                <h1>{{ article.title }}</h1>
                <small>{% if article.publishDate %}
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 
                    {{ article.publishDate|date('Y-m-d H:i') }}{% endif %}
                </small>               
                {% if article.image %}
                    <img src="{% path article.image, 'small' %}">
                {% endif %} 
                {{ article.body | purify }}
            {% endfor %}
        {% else %}
            Brak postów
        {% endif %}
        </div>
    </div>
{% endblock %}    
