{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Aktualności</title>
    <meta name="description" content="Tutaj znajdziesz najnosze informacje o klubue Offensywa">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Aktualności</h1>
            {% if category %}
                {% for article in category.posts %}
                    <h2>{{ article.title }}</h2>
                    <small>{% if article.publishDate %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{ article.publishDate|date('Y-m-d H:i') }}{% endif %}
                    </small>               
                    {% if article.image %}
                        <img src="{% path article.image, 'small' %}">
                    {% endif %} 
                    {{ article.body | purify }}
                {% endfor %}
            {% else %}
                Brak postów
            {% endif %}
        </div>
    </div>
{% endblock %}    
