{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1>Dodaj rodzaj płatności</h1>
            <div class="admin-box">                     
                {{ form_start(form, { 'attr': { 'class': 'admin-form', 'novalidate': 'novalidate' } }) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-success" value="Zapisz" />
                {{ form_end(form) }}
                <a href="{{ path('paymentcategory_index') }}" class="btn btn-default">Wróć do listy</a>
            </div>
        </div>
    </div>
{% endblock %}
