{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="admin-box">
        <h1>Nowy post</h1>

        {{ form_start(form, { 'attr': {'class': 'admin-form'} }) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="Utwórz" />
        {{ form_end(form) }}

        <a href="{{ path('admin_post_index') }}" class="btn btn-default">Wróć do listy</a>
    </div>
{% endblock %}
