{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Teams list</h1>
    {% if teams %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.year }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Brak drużyn
    {% endif %}
{% endblock %}
