{% block sonata_media_type_widget %}   
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            {{ block('form_widget') }}
        </div>        
        <div class="col-xs-12 col-sm-6 col-md-9">
            {% if value is not empty and value.providerReference %}
                <div class="pull-left">
                    {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock sonata_media_type_widget %}
